* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


.form{
    width: 100%;
    min-height: 100vh;
}
.form__logo{
    display: block;
    margin: 0 auto;
}
.form__wrapper{
    padding: 100px 0 283px 0;
    width: 353px;
    margin: 0 auto;
}
.form__title{
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    font-weight: normal;
}

.form__error{
    display: block;
    font-size: 18px;
    padding: 2px 0 0 1px;
    margin-top: 25px;
    line-height: 1.33;
    text-align: left;
    white-space: nowrap;
    color: #fd0100;
}
.form__input{
    display: block;
    margin: 0 auto;
    outline: none;
    width: 319px;
    padding: 0 20px;
    height: 50px;
    border: solid 1px #d2defc;
    font-size: 18px;
    line-height: 1.33;
}

.form__input--invalid{
    border: solid 1px #fd0100;
}

.form__input--login{
    margin-top: 23px;
}
.form__input-wrapper{
    position: relative;
}
.form__input--password{
    margin-top: 10px;
    letter-spacing: 5px;
}
.form__eye-icon{
    position: absolute;
    cursor: pointer;
    transition: 0.5s all;
}
.form__eye-icon--open{
    top: 18px;
    right: 32px;
    display: block;
}
.form__eye-icon--close{
    top: 15px;
    right: 32px;
    display: none;
}
.form__button{
    display: block;
    width: 319px;
    margin: 0 auto;
    margin-top: 25px;
    outline: none;
    border: none;
    height: 60px;
    color: #fff;
    background-color: #5c57ff;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.form__button:hover{
    box-shadow: 0 0 10px 0 rgba(18, 12, 213, 0.5);
}

.form__button:focus{
    color: #5c57ff;
    background-color: #3f3cca;
}

.form__button:disabled{
    color:#fff;
    background-color: #d2defc;
}