* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.button {
    outline: 0;
    border: unset;
    cursor: pointer;
}

.header {
    background-color: #fff;
    width: 100%;
    height: 98px;
    position: fixed;
    display: flex;
}

.header__inner {
    width: calc(100% - 50px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}
.header__logo--1024{
    display: none;
}
.header__btn {
    width: 194px;
    height: 40px;
    background-color: rgb(92,87,255);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #fff;
    line-height: 1;
}

.content {
    min-height: 100vh;
    background-color: #5c57ff;
    padding: 123px 0px 50px 0px;
}

.content__inner {
    width: calc(100% - 30px);
    max-width: 675px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    width: 100%;
    min-height: 432px;
    border-radius: 10px;
    background-color: #fff;
    padding: 50px 32px 50px 35px;
}

.result__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.75px;
    color: #1c1c1c;
    text-transform: capitalize;
}

.result__text {
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: -0.6px;
    color: #1c1c1c;
    font-weight: normal;
    margin-top: 3px;
}

.result__text--title {
    margin-top: 23px;
    font-weight: 500;
}
.result__text--mileage{
    margin-top: 0;
}
.result__text--price {
    margin-top: 23px;
    font-weight: 500;
    color: #36dec5;
    font-size: 30px;
    letter-spacing: -0.75px;
}

.result__text--info {
    margin-top: 2px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0;
}
.result__btn {
    width: 100%;
    height: 40px;
    margin-top: 24px;
    text-transform: uppercase;
    color: #fff;
    background: #5c57ff;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 1.2;
}

.presentation {
    width: 100%;
    height: 61.3vw;
    max-height: 450px;
    margin-top: 25px;
    border-radius: 10px;
}

.popup{
    position: fixed;
    padding: 162px 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    opacity: 1;
    background-color: rgba(0,0,0, .5);
}

.popup__inner{
    width: calc(100% - 30px);
    max-width: 480px;
    height: 488px;
    margin: auto;
    padding: 25px 25px;
    border-radius: 20px;
    background-color: #fff;
}
.popup__close{
   display: block;
   margin-left: auto;
}
.popup__selector{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin: 48px 0 0 33px;
}
.popup__text{
    margin-left: 32px;
    font-size: 24px;
    line-height: 2.71;
    letter-spacing: -0.6px;
    color: #1c1c1c;
}
.popup__text--title{
    margin: 22px 0px 0px 33px;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -0.75px;
    text-align: left;
    color: #1c1c1c;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
.popup__item{
    max-height: 45px;
    display: flex;
    align-items: center;
}
.popup__item + .popup__item{
    margin-top: 19px;
}
.popup__circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 2px #5c57ff;
}
.popup__circle--active{
    box-shadow: 0 0 10px 0 #89bff4;
    background-color: #5c57ff;
}
.popup__buttons{
    margin-top: 49px;
    display: flex;
    justify-content: center;
}

.popup__button{
    text-transform: uppercase;
    width: 140px;
    height: 40px;
    background: #5c57ff;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 1.5px;
    color: #fff;
}
.popup__button--right{
    margin-left: 15px;
}

@media (min-width: 1024px){
    .header__inner{
        width: calc(100% - 100px);
    }
    .content__inner{
        width: calc(100% - 349px);
        max-width: 775px;
    }
    .header__logo--mobile{
        display: none;
    }
    .header__logo--1024{
        display: block;
    }
    .content{
        padding: 208px 0;
    }
    .result{
        min-height: 450px;
        border-radius: 20px;
        padding: 50px 180px 50px 176px;
    }
    .result__title{
        text-align: center;
    }
    .result__text{
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: -0.5px;
        margin-top: 8px;
    }
    .result__text--title{
        margin-top: 25px;
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: -0.6px;
    }
    .result__text--mileage{
        margin-top: 0;
    }
    .result__text--price{
        font-size: 34px;
        line-height: 1.76;
        letter-spacing: -0.85px;
        margin-top: 1px;
    }
    .result__text--info{
        font-size: 14px;
        margin-top: -9px;
        letter-spacing: normal;
    }
    .result__btn{
        margin-top: 23px;
    }
    .presentation{
        border-radius: 20px;
        margin-top: 50px;
        max-width: 775px;
    }
    .popup{
        padding: 427px 0 426px 0;
    }
    .popup__inner{
        height: 513px;
        padding: 25px 25px 50px 75px;
    }
    .popup__text--title{
        margin-left: 50px;
        padding-right: 70px;
    }
    .popup__selector{
        margin-left: 50px;
    }
    .popup__buttons{
        justify-content: unset;
    }
    .popup__button--right{
        margin-left: 50px;
    }
    
}
@media (min-width: 1280px){
    .header__inner{
        max-width: 1292px;
    }
    .content{
        padding: 175px 0;
    }
    .content__inner{
        width: calc(100% - 100px);
        max-width: 1292px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }
    .presentation{
        width: 675px;
        height: 450px;
        margin-top: 0;
    }
    .result{
        width: 39.83%;
        border-radius: 20px;
        padding: 50px 75px;
    }
    .popup{
        padding: 144px 0 143px 0;
    }

}
@media (min-width: 1920px){
    .header__inner{
        width: calc(100% - 628px);
        padding-left: 36px;
    }
    .content{
        padding: 315px 0;
    }
    .content__inner{
        width: calc(100% - 628px);
        padding-left: 36px;
    }
    .result{
        padding: 50px 100px;
        width: 520px;
    }
    .popup{
        padding: 284px 0 283px 0;
    }
} 