* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.header{
    position: fixed;
    width: 100%;
    height: 86px;
    background-color: #f7f7f7;
}

.header__wrapper{
    width: 730px;
    margin: 0 auto;
    margin-top: 12px;
    display: flex;
    align-items: center;
    padding: 1px 0 0 2px;
}
.header__button{
    margin-left: 280px;
    border-radius: 100px;
    width: 46px;
    height: 46px;
    background-color: #5c57ff;;
    position: relative;
    cursor: pointer;
}
.header__add-stick::before {
    position: absolute;
    content: '';
    top: 22px;
    left: 10px;
    height: 2px;
    width: 26px;
    background-color: #fff
}
.header__add-stick::after{
    position: absolute;
    left: 10px;
    top: 22px;
    content: '';
    height: 2px;
    transform: rotate(90deg);
    width: 26px;
    background-color: #fff;
}

.header__text{
    display: block;
    margin-top: -5px;
    max-width: 200px;
    text-align: right;
    margin-left: auto;
    font-weight: bold;
    line-height: 1.71;
}
.header__exit-btn{
    padding: 0 0 8px 11px;
    margin-left: 15px;
    cursor: pointer;
}

.content{
    min-height: 100vh;
    background-color: #f7f7f7;
    padding: 86px 0 49px 0;
}

.content__wrapper{
    width: 730px;
    margin: 0 auto;
}

.table{
    width: 100%;

}

.table__header{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: #fff;
}
.table__title{
    padding: 19px 0 21px 0;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.71;
    text-align: left;
}
.table__title--user{
    padding-left: 16px;
    width: 316px;
}
.table__title--email{
    width: 347px;
}
.table__title--action{
    width: 67px;
}
.table-item{
    margin-top: 1px;
    width: 100%;
    padding: 5px 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.table-item__text{
    line-height: 1.5;
    text-align: left;
}
.table-item__user-info{
    padding: 0 16px;
    width: 316px;
    display: flex;
    align-items: center;

}
.table-item__user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.table-item__text--fullname{
    margin-left: 25px;
}
.table-item__text--email{
    width: 347px;
    padding-right: 16px;
}
.table-item__buttons{
    width: 67px;
    display: flex;
    align-items: center;
}
.table-item__edit-btn{
    cursor: pointer;
}
.table-item__delete-btn{
    cursor: pointer;
    margin-left: 20px;
}
.pagination{
    width: 730px;
    padding-top: 15px;
}
.pagination__wrapper{
    width: 647px;
    margin: 0 42px 0 41px;
    display: flex;
    align-items: center;
}
.pagination__icon{
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.pagination__button{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #ffce00;
    line-height: 1.71;
    position: relative;
}
.pagination__button:disabled{
    background-color: #fbe27b;
}
.pagination__button--prev{
    width: 146px;
    height: 40px;
    margin-left: 21px;
    padding-left: 16px;
}
.pagination__button--prev::before{
    content: url('../img/btn-back-icon.svg');
    position: absolute;
    top: 10px;
    left: 19px;
}
.pagination__button--next{
    margin-left: 10px;
    width: 121px;
    height: 40px;
    padding: 0 25px 0 10px;
}
.pagination__button--next::after{
    content: url(../img/btn-next-icon.svg);
    position: absolute;
    top: 10px;
    right: 18px;
}
.pagination__selector-btn{
    margin: -1px 0 0 10px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 110px;
    height: 40px;
    position: relative;
    padding-right: 21px;
}
.pagination__selector-btn::after{
    content: url(../img/selector-icon.svg);
    position: absolute;
    top: 12px;
    right: 19px;
}
.pagination__icon--next{
    margin-left: 21px;
    color: #000;
}

.pagination__page-info{
    margin-left: 49px;
    display: block;
    width: 90px;
    line-height: 1.5;
    white-space: nowrap;
}
.pagination__current-page{
    display: inline-block;
    margin: 0 6px;
    padding: 11px 10px;
    background-color: #fff;
}